@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

/* font-family: 'Quicksand', sans-serif; */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
    align-content: center;

}

.logo {
    justify-content: center;
    
    align-content: center;
    display: flex;
    margin: 0px auto;
    border-radius: 7px;
}

h1 {
    font-family: monospace;
    color: wheat;
    font-size: 45px;
}

body {
    /* display: flex; */
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #080710;
}


.card,
.card .img-area{
    background-color: rgba(28, 131, 134, 0.13);
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 3px solid rgba(5, 73, 87, 0.973);
    box-shadow: 0 0 7px rgb(10, 32, 32);
}

.card {
    /* position: relative; */
    width: 320px;
    padding: 42px;
    border-radius: 10px;
    display: inline-block;
    margin: 0  auto;

}

.card .img-area {
    height: 230px;
    width: 223px;
    border-radius: 0%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 6px 9px;
}

.img-area .inner-area {
    height: calc(110% - 25px);
    width: calc(113% - 25px);
    border-radius: 48%;
}

.inner-area img {
    height: 100%;
    width: 100%;
    /* border-radius: 50%;
    object-fit: cover; */
}

.card .name {
    font-size: 23px;
    font-weight: 500;
    color: white;
    margin: 10px 0 5px 0;
    font-size: 14px;
    text-shadow: whitesmoke;
}

.card .about {
    color: #d0d1d7;
    font-weight: 400;
    font-size: 9px;

}
.card .rup {
    color:chartreuse;
    font-weight: 600;
    font-size: 14px;
    

}





